net clk 					loc = "B8";
net reset				loc = "R17";
net start				loc = "N17";
net sw_level(1)		loc = "H18";
net sw_level(0)		loc = "G18";
net buttons(3)			loc = "H13";
net buttons(2)			loc = "E18";
net buttons(1)			loc = "D18";
net buttons(0)			loc = "B18";
net leds(3)				loc = "K14";
net leds(2)				loc = "K15";
net leds(1)				loc = "J15";
net leds(0)				loc = "J14";
#net test					loc = "R4";
net display(0) 		loc = "H14";
net display(1) 		loc = "J17";
net display(2) 		loc = "G14";
net display(3) 		loc = "D16";
net display(4)		 	loc = "D17";
net display(5) 		loc = "F18";
net display(6)	 		loc = "L18";
net disp_mux(0)		loc = "F15";
net disp_mux(1)		loc = "C18";
net disp_mux(2)		loc = "H17";
net disp_mux(3)		loc = "F17";
net state_led(2)		loc = "R4";
net state_led(1)		loc = "F4";
net state_led(0)		loc = "P15";
# vga ports
net vga_hs				loc = "T4";
net vga_vs				loc = "U3";
net vga_red(0)			loc = "R9";
net vga_red(1)			loc = "T8";
net vga_red(2)			loc = "R8";
net vga_green(0)		loc = "N8";
net vga_green(1)		loc = "P8";
net vga_green(2)		loc = "P6";
net vga_blue(0)		loc = "U5";
net vga_blue(1)		loc = "U4";