net clk 				loc = "B8";
net reset			loc = "R17";
net start			loc = "N17";
net sw_level(1)	loc = "H18";
net sw_level(0)	loc = "G18";
net buttons(3)		loc = "H13";
net buttons(2)		loc = "E18";
net buttons(1)		loc = "D18";
net buttons(0)		loc = "B18";
net leds(3)			loc = "K14";
net leds(2)			loc = "K15";
net leds(1)			loc = "J15";
net leds(0)			loc = "J14";
#net test				loc = "R4";